<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cielpy.uploadimagestoweibo</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>591565B1-00D5-4E31-857B-B6C8C7EF0CCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DA4AAEF-4FE2-45C8-B823-A7364FA44593</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6794AEA8-67CE-4356-8100-D1F89FCC6650</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD9007C9-F3B0-4C15-9143-AC020D525058</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cielpy</string>
	<key>description</key>
	<string>上传剪切板图片到微博，并复制地址到剪切板</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UploadImagesToWeibo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6794AEA8-67CE-4356-8100-D1F89FCC6650</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python get_image_url.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BD9007C9-F3B0-4C15-9143-AC020D525058</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>591565B1-00D5-4E31-857B-B6C8C7EF0CCA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python get_markdown.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7DA4AAEF-4FE2-45C8-B823-A7364FA44593</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>上传剪切板中的图片到新浪微博，并复制 URL 到剪切板。</string>
	<key>uidata</key>
	<dict>
		<key>591565B1-00D5-4E31-857B-B6C8C7EF0CCA</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>6794AEA8-67CE-4356-8100-D1F89FCC6650</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>7DA4AAEF-4FE2-45C8-B823-A7364FA44593</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>BD9007C9-F3B0-4C15-9143-AC020D525058</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://imciel.com/</string>
</dict>
</plist>
