<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cielpy.uploadimagestoweibo</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>CB907A05-64AE-433B-95C4-C3300711261A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0400CC7-88CB-4E98-B3E9-64B804C850FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EAD47B56-155B-473E-9182-3869C939D153</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2F64BCC-86C2-42B5-B965-89B6D6C5A627</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>cielpy</string>
	<key>description</key>
	<string>上传剪切板图片到微博，并复制地址到剪切板</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UploadImagesToWeibo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CB907A05-64AE-433B-95C4-C3300711261A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python get_image_url.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D0400CC7-88CB-4E98-B3E9-64B804C850FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EAD47B56-155B-473E-9182-3869C939D153</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python get_markdown.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D2F64BCC-86C2-42B5-B965-89B6D6C5A627</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>CB907A05-64AE-433B-95C4-C3300711261A</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D0400CC7-88CB-4E98-B3E9-64B804C850FB</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D2F64BCC-86C2-42B5-B965-89B6D6C5A627</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>EAD47B56-155B-473E-9182-3869C939D153</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://imciel.com/</string>
</dict>
</plist>
